/**
 * typography.css
 */
@font-face {
    font-family: 'Symphony';
    src: url('../../assets/fonts/Symphony.woff2') format('woff2'),
         url('../../assets/fonts/Symphony.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}