/**
 * typography.css
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

@font-face {
    font-family: 'Symphony';
    src: url('../../assets/fonts/Symphony.woff2') format('woff2'),
         url('../../assets/fonts/Symphony.woff') format('woff'),
         url('../../assets/fonts/Symphony.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block; 
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('../../assets/fonts/GlacialIndifference-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}